body {
    background: url(../pictures/342092.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Segoe UI',
        Tahoma,
        Verdana,
        sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: rgba(0, 0, 0, 0.616);
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav {
    border: none;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 20%;
    margin-bottom: 0.6%;
    background-color: rgba(77, 77, 77, 0.967);
    display: flex;
}

main {
    margin-left: 11%;
    margin-right: 11%;
    padding-top: 1px;
    font-size: 20px;
    color: antiquewhite;
    background-color: rgba(77, 77, 77, 0.967);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

main>h2 {
    text-align: center;
}

hr {
    width: 90%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
}





.menuh {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: flex;
    align-content: start;
}

.logo {
    padding: 1% 7% 1% 2%;
    margin: 2px 2px 2px 2%;
    background: url(../pictures/logo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}








ul.menu {
    margin-top: 1%;
    padding-left: 2%;
    margin-bottom: 1%;
    list-style: none;
    display: flex;
}

ul.menu>li>a {
    display: block;
    padding: 10px;
    color: white;
    background-color: rgba(56, 56, 56, 0.944);
    margin-right: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3),
        0 10px 10px rgba(0, 0, 0, 0.258);
}

ul.menu>li>a:hover {
    background-color: black;
}














#slideshow {
    overflow: hidden;
    height: 600px;
    width: 400px;
    margin: 0 auto;
    border-style: ridge;
    border-color: rgba(149, 107, 107, 0.566);
}

.slide {
    float: left;
    height: 600px;
    width: 400px;
    
}

.slide-wrapper {
    width: calc(400px * 4);
    animation: slide 15s ease infinite;
}

@keyframes slide {

    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-400px * 1);
    }

    60% {
        margin-left: calc(-400px * 2);
    }

    80% {
        margin-left: calc(-400px * 3);
    }
}